$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/*Colores */
$black: #151515;
$black-light: #242424;
$green: #4ee1a0;
$grey: #d9d9d9;
$white: #ffffff;
