@use "../abstracts/variables" as *;

.container {
  padding: 0 16px;
}
/*Tablet*/
@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

/*Desktop*/
@media (min-width: 1440px) {
  .container {
    padding: 0 165px;
  }
}
